
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,
    #009a8b,#5500cc,#66d0c7);
    font-family: sans-serif;
}
.text{
    color: #000;
    line-height: 10rem;
    text-align: center;
}
span{
    background: #fff;
    padding: 1rem;
